#orange {grid-area: a;}
#nina {grid-area: b;}
#vt {grid-area: c;}
#lake {grid-area: d;}
.image {grid-area: img;}
.text {grid-area: txt;}
.head {grid-area: head;}

#orange, #nina, #vt, #lake {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    'a'
    'b'
    'c'
    'd';
    gap: 0.7em;
}

article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    'img'
    'head'
    'txt';
}

.mainnav {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: rgb(207, 226, 255);
    margin-left: 1%;
}

#port {width: 20%;}

#port > li{padding-left: 3%;}

.mainnav > li {padding: 7%; padding-left: 2%;}

#nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: none;
    margin-bottom: 4%;
    
}

#nav > li {padding: 2%;}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

#darkrm {
    width: 80%;
    background-color: rgb(225, 225, 225);
    margin-left: 8%;
    padding: 1.6%;
}

#container > a:hover {opacity: 75%;}

a:link {
    text-decoration: none;
    color: rgb(0, 0, 153);
}

a:hover {text-decoration: underline;}
a:visited {color:rgb(65, 0, 100);}
article {padding: 1em;}
.text, .head {margin-left: 5%;}
.head {margin-bottom: 1%;}
.text {padding-bottom: 15%;}
.tall > .text {margin-right: 5%;}

@font-face {
    font-family: 'Chunk';
    src: url('font/ChunkFive-Regular.woff');
}

@font-face {
    font-family: 'Fanwood';
    src: url('font/fanwood_text-webfont.woff');
}

h1, h2 {
    color: rgb(2, 2, 102);
    margin-left: 2%;
    font-family: 'Chunk';
    font-weight: lighter;
    font-size: 1.3em;
}

h1 > a:hover, a:link{color: rgb(2, 2, 102);}
a:active {color:darkslateblue;}

p, li, button {
    font-family: 'Fanwood';
    font-size: 1em;
}

h3 {
    font-family: 'Fanwood';
    font-size: 0.9em;
    font-weight: lighter;
}

li {list-style-type: none;}

.footer {
    font-family: 'Fanwood';
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 0.5rem;
    width: 100%;
    list-style: none;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10%;
    font-size: 0.4em;
    padding: 1% 0;
    padding-top: 10%;

}


@media (min-width: 750px) {

    .footer { 
        font-size: 0.6em;
        gap: 0.6rem;
        padding-top: 2%;

    }

    h2 { margin-left: 5%;}

    .mainnav {
        flex-direction: row;
        width: 210px;
    }

    #dan {padding-left: 11%;}

    #darkrm {
        width: 80%;
        margin-left: 8%;
        padding: 1.6%;
    }

    #nav {
        display: grid;                        
        grid-template-columns: repeat(2, 1fr); 
        gap: 0.5rem;                         
        width: 100%; 
        list-style: none;    
        padding: 0;         
        margin: 0 auto; 
        text-align: center;
        padding-bottom: 3%;
    }

    #port{ width: 180px;}
    #ita {width: 150px;}
    #holland {width: 250px}
    #slovenia {width: 170px;}
    #norw {width: 170px;}
    #bd {width: 150px;}

    #container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
      'a b'
      'c d';
      gap: 0.7em;
      padding-bottom: 4%;
    }

    #orange, #nina, #vt, #lake {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        '  a  '
        '  b  '
        '  c  '
        '  d  ';
        gap: 0.7em;
    }
    
    article {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        'img'
        'head'
        'txt';
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom:9%;
    }
}


@media (min-width: 990px) {

    .footer { 
        font-size: 0.7em;
        gap: 0.6rem;
        padding-top: 2%;

    }


    .mainnav {
        flex-direction: row;
        width: 200px;
    }

    #container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
      'a b'
      'c d';
      gap: 0.7em;
      margin-left: 10%;
      margin-right: 10%;

    }

    #nav {
        display: grid;                         
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto auto;         
        gap: 0.5rem;                         
        width: 95%;                          
        list-style: none;                   
        padding: 0;                   
        margin: 0 auto;                   
        text-align: center;            
        padding-bottom: 4%;
        padding-right: 20%;
    }

    #nav > li {
        font-size: 0.9em;          
        text-align: center;
    }

    .tall {padding: 7%;}

}

@media only screen and (prefers-color-scheme: dark){
    body {background-color: rgb(14, 24, 14);}
    h1, p, h2, h3, li, a:link, a:hover {color:bisque;}
    a:visited{color:burlywood;}
    .mainnav, #nav, #darkrm {background-color: rgb(89, 84, 77)}
    h1 > a:hover {color:rgb(157, 195, 255);}
}
